#navbar {
  display: flex;
  background-color: black;
  color: white;
  height: 60px;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

#clients-page {
  display: grid;
  justify-items: center;
}

#clients-table {
  width:90%;
}

#clients-header{
  background-color: tomato;
  box-shadow: 1px 1px 4px black;
}

.client-row{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-items: center;
  margin: 10px 0;
  border-bottom: 1px solid black;
}

#client-editor{
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 30%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
}